<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Login</h4>
    <p>Lets get started</p>
  </div>

  <ion-input placeholder="Username" class="primary-input"></ion-input>
  <ion-input placeholder="Password" type="password" class="primary-input"></ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <a>Forgot Password?</a>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="login()">LOGIN</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>
